@media screen and (max-width:576px){

    /* Navbar-related styles Start Here */
    .navbar-icon {
        display: block;
        color: var(--clr-white-1);
        font-size: 1.9rem;
        cursor: pointer;
      }
      .navbar ul {
        display: none;
      }
      /* Navbar-related styles End Here */

        /* header related styles starts here---------------- */
    .banner {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
      .banner-content {
        width: 100%;
      }
      .banner-content h1 {
        width: 77%;
        font-size: 2.25rem;
      }
      .banner-content p {
        width: 74%;
      }
      .btn-container {
        width: 100%;
        justify-content: space-between;
      }
      #btn-join {
        width: 100%;
        padding: 1rem 0.5rem;
      }
      #btn-special {
        width: 100%;
        padding: 1rem 0.5rem;
      }
      
      .workout-number {
        font-size: 1.875rem;
      }
      .video-tutorial {
        right: 9rem;
        /* display: none; */
        top: 15rem;
      }
      /* header related styles End here------------- */

      
      /* Habit Related Styles Start Here-------------> */
      .habit-img-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
      }
      .habit-img-content {
        width: 100%;
      }
      .habit-img-content h1 {
        font-size: 2rem;
      }
      /* Habit Related Styles End Here---------------- */

            /* Run Section Related Styles Start Here ------------->*/

            .run-section {
                flex-direction: column;
                align-items: center;
                padding: 0rem 3rem;
              }
              .run-content {
                width: 100%;
              }
              .run-content h1 {
                font-size: 2rem;
              }
              .run-content button {
                width: 100%;
                margin: 1rem 0 2rem 0;
              }
              .run-image {
                width: 100%;
              }
              /* Run Section Related Styles End Here */
}